/* TOODEAR.ROCKS @ https://toodear.vercel.app */

@import "tailwindcss";
@import "./theme.css";

:root {
    color-scheme: light dark;
    /* font-family: "Alegreya", serif; */
    font-family: "Rubik", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    /* @apply border-t-8 bg-bg text-text; */
    
}
html {
    /* @apply w-full; */
}
body {
    border-top: 8px;
    border-image: linear-gradient(90deg, var(--color-primary) 20%, var(--color-secondary)) 1;
}


.content-grid {
    display: grid;
    grid-template-columns: 2fr [shackless-start] 1fr [greatness-start] 48rem [greatness-end] 1fr [shackless-end] 2fr;
}
.content-grid > * {
    grid-column: greatness;
}
.shackless {
    grid-column: shackless;
}
.grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(33%, 1fr)); */
    gap: 1rem;
    @media (width >= 64rem) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* UTILITIES */

.text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* main :last-child {
    @apply mb-16;
} */

a {
    /* @apply shadow-link text-black; */
    color: var(--color-text);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: .25rem;
    text-underline-offset: .25rem;
}
a:hover {
    /* @apply shadow-link-hover text-color-primary; */
    color: var(--color-primary);
}
abbr:hover {
    cursor: help;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    color: var(--color-text);
    /* @apply font-bold text-black; */
}
h1 {
}
h2 {
}
h3 {
    font-size: 1.5rem;
    line-height: 1.33;
    @media (width >= 64rem) {
        font-size: 1.875rem;
        line-height: 1.2;
    }
    /* @apply lg:text-3xl text-2xl; */
}
p, li {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    /* @apply text-xl mb-6; */
}
li {
    margin-bottom: 0.25rem;
    /* @apply mb-1; */
}
strong {
    background-color: var(--color-highlight)
    /* @apply bg-yellow-100; */
}

/* HAVING-HARD-TIME-NAMING-THINGS */
.max-width {
    max-width: 48rem;
}
.center {
    margin-inline: auto;
}
.row {
    /* padding: 2rem; */
    /* @media (width >= 64rem) {
        padding: 0;
    } */
    /* @apply
        mt-24 mx-auto p-8
        lg:px-0 lg:mt-40
        max-w-3xl; */
}
.breathe {
    margin-top: 6rem;
    @media (width >= 64rem) {
        margin-top: 10rem;
    }
}
nav {
    /* margin: 0 auto; */
    /* max-width: 48rem; */
    /* @media (width >= 64rem) {
        padding-inline: 0;
    } */
    /* @apply
        lg:px-0; */
}
a.siteTitle {
    @apply
        w-1/3
        text-lg font-bold; 
}
nav ul {
    float: right;
}
nav li {
    flex-wrap: wrap;
    /* flex-grow: 1; */
    display: inline-flex;
    margin-left: 1rem;
    @apply text-base
}
nav.mainnav li a {
    text-decoration: none;
}
nav.mainnav li a:hover {
    color: var(--color-secondary);
}



.siteDesc {
    margin-bottom: 0 !important;
}
