/* TOODEAR.ROCKS @ https://toodear.vercel.app */

@import "tailwindcss";
@import "./theme.css";

:root {
    color-scheme: light dark;
    /* font-family: "Alegreya", serif; */
    font-family: "Rubik", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    /* @apply border-t-8 bg-bg text-text; */

    /* VARIABLES */
    --breakpoint: 48rem;
}

body {
    border-top-width: 8px;
    border-image: linear-gradient(90deg, var(--color-primary) 20%, var(--color-secondary)) 1;
    padding-inline: 2rem;
}



/* LAYOUT */

.content-grid {
    /* padding-inline: 2rem; */
    display: grid;
    grid-template-columns: [full-width-start] 1fr [shackless-start] 1fr [greatness-start] min(100%, 48rem) [greatness-end] 1fr [shackless-end] 1fr [full-width-end];
    container: content-grid / inline-size;
}
.content-grid > * {
    grid-column: greatness;
}
.shackless {
    grid-column: shackless;
}

.grid {
    display: grid;
    /* grid-template-columns: min(100%, var(--breakpoint)); */
    gap: 2rem;
    container: grid / inline-size;
}



/* DEFAULT (aka SITE-WIDE) STYLING */
nav ul {
    float: right;
}
nav li {
    flex-wrap: wrap;
    /* flex-grow: 1; */
    display: inline-flex;
    margin-left: 1rem;
    font-size:  1rem;
    line-height: 1.5;
}
nav li a {
    text-decoration: none;
}
nav li a:hover {
    color: var(--color-secondary);
}
a {
    /* @apply shadow-link text-black; */
    color: var(--color-text);
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: .25rem;
    text-underline-offset: .25rem;
}
a:hover {
    /* @apply shadow-link-hover text-color-primary; */
    color: var(--color-primary);
}
abbr:hover {
    cursor: help;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    color: var(--color-text);
}
h1, h2 {
    font-size: 2.25rem;
    line-height: 1.2;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.33;
    @media (min-width: var(--breakpoint)) {
        font-size: 1.875rem;
        line-height: 1.2;
    }
    /* @apply lg:text-3xl text-2xl; */
}
p, li {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    /* @apply text-xl mb-6; */
}
p:last-child {
    margin-bottom: 0;
}
li {
    margin-bottom: 0.25rem;
    /* @apply mb-1; */
}
strong {
    background-color: var(--color-highlight)
}



/* UTILITIES */
/* HAVING-HARD-TIME-NAMING-THINGS */

.breathe {
    margin-top: 8rem;
}
.center {
    margin-inline: auto;
}
.full-width {
    grid-column: full-width;
}
.limit-width {
    max-width: var(--breakpoint);
}
.row {
    padding-block: 1rem;
}
.rounded-corners {
    border-radius: .5rem;
}

.text-gradient {
    background: text linear-gradient(to right, var(--color-primary) 20%, var(--color-secondary) 80%);
    -webkit-text-fill-color: transparent;
}
.slider {
    background-color: var(--color-light-gray);
    border-radius: .5rem;
}
.slide {
    /* display: flex; */
}
.slide__image {
    padding: 4rem;
}
.slide__text {
    padding-inline: 1rem;
    padding-bottom: 2rem;
}

a.siteTitle {
    font-size: 1.125rem;
    line-height: 1;
    font-weight: 700;
}

@media (min-width: 48em) {
    body {
        padding-inline: 0;
    }
    h1, h2 {
        font-size: 3rem;
    }
    .breathe {
        margin-top: 12rem;
    }
    .content-grid {
        grid-template-columns: repeat(30ch, 100%), 1fr;
    }
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .slider {
        border-block: 2px solid var(--color-black);
        padding-block: 2rem;
    }
    .slider > div {
        max-width: var(--breakpoint);
    }
    .slide {
        display: flex;
    }
    .slide__image {
        padding: 0;
    }
    .slider.rounded-corners {
        border-radius: 0;
    }
    .slider .slide .slide__image {
        width: 33.333333%;
    }
    .slider .slide .slide__text {
        padding: 1rem;
        width: 66.666667%;
    }
}
