/* TOODEAR.ROCKS @ https://toodear.vercel.app */

@import "tailwindcss";
@import "./theme.css";

:root {
  /* color-scheme: light dark; */
  /* font-family: "Alegreya", serif; */
  font-family: "Rubik", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);

  /* VARIABLES */
  --breakpoint: 48rem;
  --gradient-start: var(--color-primary) 20%;
  --gradient-end: var(--color-secondary) 80%;
  --gradient-colors: var(--gradient-start), var(--gradient-end);
  --line-height: 1.4;
  --text-base: 1rem;
}

html {
  font-size: 100%;
}
body {
  font-size: var(--text-base);
  border-top-width: 8px;
  border-image: linear-gradient(to right, var(--gradient-colors)) 1;
  padding-inline: 2rem;
  padding-bottom: 2rem;
}

/* LAYOUT */

.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start] 1fr [shackless-start] 1fr [greatness-start] min(
      100%,
      48rem
    )
    [greatness-end] 1fr [shackless-end] 1fr [full-width-end];
  container: content-grid / inline-size;
}
.content-grid > * {
  grid-column: greatness;
}
.shackless {
  grid-column: shackless;
}

.grid {
  display: grid;
  gap: 2rem;
  container: grid / inline-size;
}

/* DEFAULT (aka SITE-WIDE) STYLING */

a {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.25rem;
  transition: all 0.1s ease-in-out;

  /* So it does not flash after :hover (when removing pointer from the hyperlink) */
  background: linear-gradient(to bottom, var(--gradient-colors)) text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--color-text); /* matches normal color */
}
a:hover {
  background: linear-gradient(to bottom, var(--gradient-colors)) text;
  -webkit-text-fill-color: transparent;
  text-decoration-color: var(--color-secondary);
}
abbr:hover {
  cursor: help;
}
figcaption {
  font-size: calc(var(--text-base) * 0.875);
  color: oklch(from var(--color-gray) calc(l + 0.2) c h);
  line-height: 1.33;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  color: var(--color-text);
}
h1,
h2 {
  font-size: 2.25rem;
  line-height: 1.2;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.33;
}
p,
li {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
p:last-child {
  margin-bottom: 0;
}
li {
  margin-bottom: 0.25rem;
}
nav ul {
  float: right;
}
nav li {
  flex-wrap: wrap;
  /* flex-grow: 1; */
  display: inline-flex;
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}
nav li a {
  text-decoration: none;
}
nav li a:hover {
  color: var(--color-secondary);
}
strong {
  background-color: var(--color-highlight);
}

.title {
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 700;
}
.slider {
  background-color: var(--color-light-gray);
  border-radius: 0.5rem;
}
.slide__image {
  padding: 4rem;
}
.slide__image img {
  box-shadow: 0 0.25rem 0.55rem oklch(from var(--color-gray) l c h / 0.5);
}
.slide__text {
  padding-inline: 2rem;
  padding-block: 0 4rem;
}

/* UTILITIES */
/* HAVING-HARD-TIME-NAMING-THINGS */

.breathe {
  margin-top: 8rem;
}
.center {
  margin-inline: auto;
}
.copyright {
  margin-top: 1rem;
  font-size: 1rem;
}
.copyright img {
  display: inline;
}
.full-width {
  grid-column: full-width;
}
.inline {
  display: inline;
}
.limit-width {
  max-width: var(--breakpoint);
}
.padding-sm {
  padding: 1rem;
}
.row {
  padding-block: 1rem;
}
.rounded-corners {
  border-radius: 0.5rem;
}
.text-gradient {
  background: linear-gradient(to right, var(--gradient-colors)) text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 48em) {
  body {
    padding-inline: 0;
  }
  h1,
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.875rem;
    line-height: 1.2;
  }
  .breathe {
    margin-top: 12rem;
  }
  .content-grid {
    grid-template-columns: repeat(30ch, 100%), 1fr;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .slider {
    border-block: 2px solid var(--color-black);
    padding-block: 2rem;
  }
  .slider > div {
    max-width: var(--breakpoint);
  }
  .slide {
    display: flex;
  }
  .slide__image {
    padding: 0;
  }
  .slider.rounded-corners {
    border-radius: 0;
  }
  .slide__image {
    width: 33.333333%;
  }
  .slide__text {
    width: 66.666667%;
    padding-block: 2rem 0;
  }
}
