/* @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400&family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap'); */
/* @font-face {
    font-family: "Fira";
    src: local("Fira"),
        url("/src/fonts/FiraSans-Regular.ttf") format("ttf"),
        url("/src/fonts/FiraSans-Black.ttf") format("ttf"),
        url("/src/fonts/FiraSans-Light.ttf") format("ttf");
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        @apply border-primary border-8 h-screen;
    }
    body {
        font-family: "Helvetica", sans-serif;
    }

    a {
        box-shadow: inset 0 -0.3333333333em 0 0 #08c;
    }
    a:hover {
        @apply text-primary;
    }

    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: "Fira Sans", sans-serif;
        @apply mb-4 font-bold;
    }
    
    p {
        @apply text-xl;
    }
    strong {
        @apply bg-yellow-100 font-bold;
    }

    .container {
        @apply p-8 w-full;
    }
}
