/* FONTS */

/* Fira Sans & Alegreya using https://github.com/fontsource/fontsource via npm */
/* Rubik Light


/* COLORS */

@theme {
  --color-primary: #0088cc;
  --color-secondary: #c214cc;
  --color-black: #17111d;
  --color-white: #faf8ff;
  --color-gray: #4e4556;
  --color-light-gray: #e9e5ef;
  --color-danger: #e53a40;
  --color-success: #89d144;
  --color-warning: #efdc05;
  --color-highlight: hsl(55, 97%, 88%);

  /* Theme variables that map to utilities */
  --color-bg: var(--color-white);
  --color-text: var(--color-black);
  --color-card: var(--color-light-gray);
  --color-footer: var(--color-light-gray);}

[data-theme='dark'] {
    --color-bg: var(--color-black);
    --color-text: var(--color-white);
    --color-card: var(--color-black);
    --color-footer: var(--color-black);
}

[data-theme='coffee'] {
    --color-bg: #fdd692;
    --color-text: #754f44;
    --color-link: #1f2124;
}