---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="row">
      <h1>
        <span
          class="text-gradient
          bg-gradient-to-r
          from-color-primary
          to-color-secondary"
          >This is a Contact Page.</span
        >
      </h1>
    </section>
  </main>
</Layout>
