---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import InfoBox from "../components/InfoBox.astro";
import Slider from "../components/Slider.astro";
---

<Layout>
  <main class="content-grid">

    <Hero />

    <section class="shackless breathe">
      <div class="grid">
        <InfoBox heading="About">
          <p>
            Hello! I am <strong>web</strong> and <strong>entertainment</strong>
            enthusiast based in Sombor, Serbia.
          </p>
        </InfoBox>
        <InfoBox heading="Goal">
          <p>
            I <abbr title="sadly, past tense 😢">liked</abbr> to design beautiful
            &amp; unique websites, user interfaces using accessibility &amp; usability
            guidelines for rich user experience.
          </p>
        </InfoBox>
        <InfoBox heading="Availability">
          <p>I'm <i>kind of</i> not available for work, at the moment.</p>
          <p>
            <a href="/contact">Get in touch!</a><br /><span
              class="smaller-text color-gray-600"
              >(currently, nothing to see there <span
                role="img"
                aria-label="Skull emoji">💀</span
              >)</span
            >
          </p>
        </InfoBox>
      </div>
    </section>

    <Slider />

    <section class="greatness breathe">
      <h3>
        Pro bono? <span
          role="img"
          aria-label="Surprised face with open mouth emoji">😮</span
        >
      </h3>
      <p><strong>Yep.</strong></p>
      <h3>
        How &amp; why? <span role="img" aria-label="Thinking qface emoji"
          >🤔</span
        >
      </h3>
      <p>
        I am learning new things like <a href="https://astro.build">AstroJS</a>,
        React <span class="text-color-gray">(not gonna happen)</span>, graphQL
        (nope), JAMstack, etc. and would love to help someone help me. <span
          role="img"
          aria-label="Smiling empoji">😀</span
        >
      </p>
      <p>
        Apart from usual Lorem Ipsum stuff, creator of these zeroes and ones is
        struggling with above and all other mumbo-jumbo.
      </p>
    </section>
  </main>
</Layout>
