---
import { Image } from "astro:assets";

import { dependencies } from "../../package.json";
import astroLogo from "../images/astro-logo-dark.svg";

var astroVersion = dependencies.astro;
while (astroVersion.charAt(0) === "^") {
  astroVersion = astroVersion.substring(1);
}

const currentYear = new Date().getFullYear();
---

<footer class="breathe limit-width center">
  <h3>Meanwhile, elsewhere...</h3>
  <ul class="mb-4">
    <li>
      <a href="https://www.instagram.com/toodearrocks/">Instagram</a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCckHUaxAIzg5BTm8fYNgRQA">
        Youtube
      </a>
    </li>
    <li>
      <a href="https://soundcloud.com/pedjamusic">Soundcloud</a>
    </li>
    <li>
      <a href="https://www.facebook.com/toodearrocks">Facebook</a>
    </li>
  </ul>
  <p class="text-base text-color-gray">
    Copyright &amp; copyleft from 2006. to {currentYear} by Predrag Drljača.<br
    />
    Made with <span role="img" aria-label="suffering emoji">🥵</span> &amp; <span
      role="img"
      aria-label="heart emoji">❤️</span
    > using <a href="https://astro.build" title="Link to AstroJS website"
      ><Image src={astroLogo} alt="AstroJS logo" class="inline size-20" /></a
    >
    {astroVersion}.
  </p>
</footer>
