---
const currentYear = new Date().getFullYear();
---

<footer class="row">
  <h3>Meanwhile, elsewhere...</h3>
  <ul class="mb-4">
    <li>
      <a href="https://www.instagram.com/toodearrocks/">Instagram</a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCckHUaxAIzg5BTm8fYNgRQA">
        Youtube
      </a>
    </li>
    <li>
      <a href="https://soundcloud.com/pedjamusic">Soundcloud</a>
    </li>
    <li>
      <a href="https://www.facebook.com/toodearrocks">Facebook</a>
    </li>
  </ul>
  <p class="text-base text-color-gray">
    Copyright &amp; copyleft from 2006. to {currentYear} by Predrag Drljača.
  </p>
</footer>
