---
import { siteInfo } from "../data/siteMetadata.ts";
import navigation from "../data/navigation.ts";
---

<header class="row max-width center">
  <nav>
    <a href="/" class="siteTitle">I am {siteInfo.title}.</a>
    <ul>
      {
        navigation.map((i) => (
          <li>
            <a href={i.href}>{i.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
