---
import { Image } from "astro:assets";

const { imgsrc, imgalt, imgcaption, title } = Astro.props;
---

<li class="splide__slide sm:p-0 sm:flex">
  <div class="sm:w-1/3">
    <figure class="p-2">
      <Image
        class="rounded-lg shadow-md shadow-slate-500"
        src={imgsrc}
        alt={imgalt}
      />
      <figcaption class="text-xs ml-2 mt-2 sm:hidden text-gray-400">
        {imgcaption}
      </figcaption>
    </figure>
  </div>
  <div class="sm:w-2/3 px-0 sm:pl-8 pt-8 sm:pt-0">
    <h3>{title}</h3>
    <slot />
  </div>
</li>
