---
import { Image } from "astro:assets";

const { imgsrc, imgalt, imgcaption, title } = Astro.props;
---

<li class="splide__slide slide sm:p-0">
  <div class="slide__image">
    <figure class="p-2">
      <Image
        class="rounded-corners shadow-md shadow-slate-500"
        src={imgsrc}
        alt={imgalt}
      />
      <figcaption class="text-xs ml-2 mt-2 sm:hidden text-gray-400">
        {imgcaption}
      </figcaption>
    </figure>
  </div>
  <div class="slide__text">
    <h3>{title}</h3>
    <slot />
  </div>
</li>
