---
import { Image } from "astro:assets";

const { imgsrc, imgalt, imgcaption, title } = Astro.props;
---

<li class="splide__slide slide">
  <div class="slide__image">
    <figure class="padding-h-sm">
      <Image
        class="rounded-corners shadow-md shadow-slate-500"
        src={imgsrc}
        alt={imgalt}
      />
      <figcaption class="text-gray-400">
        {imgcaption}
      </figcaption>
    </figure>
  </div>
  <div class="slide__text">
    <h3>{title}</h3>
    <slot />
  </div>
</li>
